<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>TetaPixels</title>
	
	<script type="text/javascript">
		var grid = "<%= @grid.hex_grid.to_s %>";
		var timestamp = new Date().getTime();
	</script>
	
	<script type="text/javascript" src="/js/jquery.js"></script>
	<script type="text/javascript" src="/js/jquery.ui.js"></script>
	<script type="text/javascript" src="/js/master.js"></script>
	
	<link rel="stylesheet" href="/css/jquery-ui/ui.all.css" type="text/css" media="all" />
	<link rel="stylesheet" href="/css/master.css" type="text/css" media="all"/>
</head>
<body>
	<h1>Pong Wall</h1>

	<div id="pixel_wall"><% 16.times do |row_num| %><div class="row"><% 27.times do |column_num| pixel_id = (column_num * 16) + row_num %><div id="<%= pixel_id %>" class="pixel"></div><% end %></div><% end %></div>
		
	<div id="info">
		<img src="/images/8.gif" id="sample"><div id="slider"></div><br/>
		<input type="hidden" name="gradient" value="8" id="gradient">
		<a href="http://github.com/alx/tetapixels">Source</a> - <a href="http://github.com/alx/tetapixels/blob/master/send_grid.rb">Script to POST grid</a>	
	</div>
	
</body>
</html>