body {
	background-color:#000;
	color:#FFF;
	font: 75% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	text-align:center;
}

a {
	color:#FFF;
	text-decoration:none;
}

#pixel_wall{
	height:160px;
	width:270px;
	padding:10px;
	margin: 0 auto;
}

#info{
	width:270px;
	margin: 0 auto;
	text-align:center;
}

#slider{
	width:200px;
	margin: 10px auto;
}

.row div {
	display:inline;
}

.pixel {
	float:left;
	border:0;
	height:10px;
	margin:0;
	padding:0;
	width:10px;
}

.pixel_0 {background: url(../images/0.gif);}
.pixel_1 {background: url(../images/1.gif);}
.pixel_2 {background: url(../images/2.gif);}
.pixel_3 {background: url(../images/3.gif);}
.pixel_4 {background: url(../images/4.gif);}
.pixel_5 {background: url(../images/5.gif);}
.pixel_6 {background: url(../images/6.gif);}
.pixel_7 {background: url(../images/7.gif);}
.pixel_8 {background: url(../images/8.gif);}
.pixel_9 {background: url(../images/9.gif);}
.pixel_A {background: url(../images/A.gif);}
.pixel_B {background: url(../images/B.gif);}
.pixel_C {background: url(../images/C.gif);}
.pixel_D {background: url(../images/D.gif);}
.pixel_E {background: url(../images/E.gif);}
.pixel_F {background: url(../images/F.gif);}

.control{cursor: pointer;}