body {
	background-color:#000;
	color:#FFF;
	text-align:center;
}

#pixel_wall{
	width:160px;
	margin: 0 auto;
}

.row div {
	display:inline;
}

.pixel {
	float:left;
	border:0;
	height:10px;
	margin:0;
	padding:0;
	width:10px;
}

.pixel_on {
	background: url(../images/1.gif);
}

.pixel_off {
	background: url(../images/0.gif);
}
